// -------------------------- */
// ----- NEO VARIABLES ------ */
// -------------------------- */

// HEADER
$header-height: 100px;
$header-fixed-height: 60px;

// GENERAL CONTENT
$font-size: 16px;
$line-height: 18px;
$content-max-width: 1200px;
$default-padding: 20px;
$default-big-padding: 50px;

$default-margin: 20px;
$default-big-margin: 50px;

$content-top-padding: 50px;
$content-bottom-padding: 50px;
$content-sides-padding: 20px;


$roboto: "Roboto", sans-serif;
$roboto-condensed: "Roboto Condensed", sans-serif;

// TOP INNER CONTENT
$top-content-height: 550px;
$top-content-height-tablet: 300px;
$top-content-height-mobile: 200px;
// SLIDER
$coin-size: 200px;
$coin-border-width: 5px;
$coin-size-mobile: 100px;
$coin-border-width-mobile: 2.5px;

// PRODUCTOS
$price-size: 100px;
$price-border-width: 3px;
$inner-price-size: 80px;

// NOTICIAS
$latest-article-height: 400px;
$latest-article-height-ipad: 450px;
$article-date-size: 60px;
$article-date-border-width: 2.5px;
$top-article-height: 250px;
$top-article-height-active: 500px;
$article-p-margin: 30px;

// FOOTER
$footer-height: 236px;
$social-icon-size: 40px;
$social-icon-border-width: 2.5px;

// -------------------------- */
